@keyframes lasHoras {
	0%, 100% {	background-color: white;	}
	20% {	background-color: #665c3b;	}
	40% {	background-color: #66624f;	}
	60% {	background-color: #2e2b3a;	}
	80% {	background-color: #665c3b;	}
}

@keyframes sun {
	0%, 100% {	opacity: 1;	right: 2vw;	}
	20% {	opacity: 1;	right: 40vw;	}
	40% {	opacity: 0;	right: 75vw;	}
	60% {	opacity: 0;	right: 0vw;	}
	80% {	opacity: 0.3;	right: 0vw;	}
}


@keyframes clouds {
	0%, 100% {	opacity: 1;	}
	40% {	opacity: 0.2;	}
	60% {	left: 85vw;	opacity: 0;	}
	75% {	opacity: 0;	}
	80% {	opacity: 0.2;	}
}


@keyframes moon {
	0% {	opacity: 0;	}
	20% {	opacity: 0;	}
	40% {	opacity: 0;	}
	60% {	left: 3vw;	opacity: 1;	}
	80% {	left: -2vw;	opacity: 0;	}
	100% { left: -1vw;	opacity: 0;	}
}

@keyframes flowers {
	0%, 100% {	bottom: 15px;	}
	25% {	bottom: -50px;	}
	40% {	bottom: -80px;	}
	70% {	bottom: -150px;	}
	80% {	bottom: -20px;	}
}