/*=== basics ===*/
body {	
	margin: 0;
	padding: 0;
}

.containerPrincipal {
	overflow: hidden;
	position: relative;
	width: 100vw;
	height: 100vh;
	animation: lasHoras 24s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


/*=== clouds ===*/
.allClouds {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.containerClouds {
	position: absolute;
	left: 5vw;
	animation: clouds 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.containerClouds-bis {
	position: absolute;
	left: 7vw;
	animation: dif-clouds 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.clouds {
	position: absolute;
	width: 100px;
	height: 60px;
}

.cloud-1 {
	transform: scaleX(-1);
	left: 9vw;
	top: 10vh;
}

.cloud-2 {
	left: 25vw;
	top: 20vh; 
}

.cloud-3 {
	transform: scaleX(-1);
	left: 45vw;
	top: 9vh;
}

.cloud-4 {
	left: 65vw;
	top: 15vh;
}


/*=== sun - moon - seagulls ===*/
.sunAndMoon {
	width: 100vw;
	height: 100vh;
}

.sun {
	position: absolute;
	width: 200px;
	height: 190px;
	right: 2vw;
	top: 2vh;
	animation: sun 24s;
	animation-iteration-count: infinite;	
	animation-timing-function: linear;	
}


.seagull {
	position: absolute;
	width: 520px;
	height: 200px;
	top: 30vh;
	left: 15vw;
	animation: seagull 24s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.moon {
	opacity: 0;
	position: absolute;
	width: 145px;
	height: 150px;
	left: 3vw;
	top: 4vh;	
	animation: moon 24s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


/*=== forest ===*/
.containerForest {
	position: absolute;
	width: 100vw;
	bottom: 10px;
	text-align: center;
}

.forest {
	width: 85%;
}


/*=== flowers ===*/
.containerFlowers {
	position: absolute;
	text-align: center;
	width: 100vw;
	bottom: 15px;
	animation: flowers 24s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.flowers {
	width: 60px;
	height: 110px;
	margin: 0px 20px;
}

.flowers.especial-one {
 width: 100px;
 margin: 0px 15px;
}


/*=== grass ===*/
.grass {
	position: absolute;
	width: 86%;
	height: 20px;
	background-color: #8CC152;
	border: 1px solid #8CC152;
	border-radius: 20px;
	bottom: 0px;
	left: 7vw;	
}